<% for column in AdminMenu.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @admin_menu.send(column.name) %>
</p>
<% end %>

<span class="off" onmouseover="this.className='on'" onmouseout="this.className='off'"><%= link_to 'Edit', :action => 'edit', :id => @admin_menu %></span> |
<span class="off" onmouseover="this.className='on'" onmouseout="this.className='off'"><%= link_to 'Back', :action => 'list', :parent_id => @parent_id %></span>
